<div class="row">

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>People Manager</h1>
    </div>
</div>
<div class="row" ng-controller="PeopleCtrl">
    <div class="col-md-6 col-xs-12">
        <h4>Add New Person</h4>
        <form ng-submit="create()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="firstName" class="form-control" ng-model="person.firstName" placeholder="Enter First Name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="lastName" class="form-control" ng-model="person.lastName" placeholder="Enter Last Name">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</div>
