<div class="row">

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>People Manager</h1>
    </div>
</div>
<div class="row" ng-controller="PeopleCtrl">

    <div class="col-md-6 col-xs-12">
        <a ng-href="#/people/create">Add New Person</a>
        <hr>
        <h4>People List</h4>
        <ul ng-repeat="person in peoples">
            <li>
                <span ng-bind="person.firstName"></span> <span ng-bind="person.lastName"></span>
            </li>
        </ul>
        <div ng-show="!peoples.length>0">
            No People Found. Please add few.
        </div>
        <div ng-show="error">
            <span ng-bind="error"></span>
        </div>

    </div>
</div>
