<div class="row">

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>People Manager</h1>
    </div>
</div>
<div class="row" ng-controller="PeopleCtrl">
    <div class="col-md-6 col-xs-12">
        <h4>Edit Person</h4>
        <form>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <span id="firstName" ng-bind="firstName"></span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <span id="lastName" ng-bind="lastName"></span>
            </div>
            <button ng-click="delete()"><span class="glyphicon glyphicon-remove"></span></button>
        </form>
    </div>

</div>
