project/project
project/target
target
tmp
dist
logs
/out
/RUNNING_PID
/.classpath
/.project
/.settings
/.idea
/.idea_modules
.history

web/bower_components
web/node_modules
web/dist
web/.tmp
web/.sass-cache
web/app/scripts/config.js

public
