<div class="jumbotron">
  <h1>'App Templates!</h1>
  <p class="lead">
    <img src="images/angular.png" alt="Angular">
    <img src="images/play.png" alt="Angular">
    <img src="images/mongo.png" alt="Angular"><br>
    Always a pleasure providing App Templates!! <span class="glyphicon glyphicon-thumbs-up"
  </p>
    <hr>
  <p><img class="logo" src="images/synerzip.gif"></p>
</div>

<div class="row marketing">
  <h4>Angular.js Scala-Play Reactive Mongo App Template</h4>

  <h4>Angular</h4>
  <p>HTML enhanced for web apps!</p>

  <h4>Scala-Play</h4>
  <p>The High Velocity Web Framework For Java and Scala</p>

  <h4>Reactive-Mongo</h4>
  <p>Scala driver that provides fully non-blocking and asynchronous I/O operations.</p>
</div>
