<div class="row">

</div>

<div class="row">
    <div class="col-xs-12">
        <h1>Employee Manager</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a ui-sref="newEmployee" class="btn-primary btn-lg nodecoration">Add New Movie</a>
        <br>
    </div>
</div>
<div class="row">

    <div class="col-md-6 col-xs-12">
        <table class="table table-responsive table-bordered">
            <tr>
                <td><h3>All Employees</h3></td>
                <td></td>
            </tr>
            <tr ng-show="!employees.length>0">
                <td colspan="2">No Employees Found. Please add few</span>
            </tr>
            <tr ng-repeat="employee in employees">
                <td>{{employee.firstName}} {{employee.lastName}}</td>
                <td>
                    <a class="btn btn-primary" ui-sref="viewEmployee({id:employee._id})">View</a>
                    <a class="btn btn-danger"  ng-click="deleteEmployee(employee._id)">Delete</a>
                </td>
            </tr>
        </table>


    </div>
</div>




